<!DOCTYPE html>
<html>
<head>

	<title>Solidus Test Site</title>

	<script>{{{javascript}}}</script>
	<script src="/templates.js"></script>

</head>
<body>

	<a href="/">Solidus Test Site</a>

	<hr />

	{{{body}}}

</body>
</html>