{{!
{
	"resources": {
		"global": "http://localhost:8080/api/global.json",
		"cats": "http://localhost:8080/api/cats.json",
		"hats": "http://localhost:8080/api/hats.json"
	},
	"preprocessor": "cats.js"
}
}}

<h1>Cats Index</h1>

<ul>
	<li>Milk</li>
	<li>Chip</li>
	<li>Ling Ling</li>
</ul>

<h2>From The Context</h2>
<dl>
	<dt>Global:</dt>
	<dd>{{resources.global.global}}</dd>
	<dt>Cats:</dt>
	<dd>{{resources.cats.cats}}</dd>
</dl>

<h2>From the Preprocessor</h2>
<dl>
	<dt>Preprocessed:</dt>
	<dd>{{preprocessed}}</dd>
</dl>

<h2>Hats Partial</h2>
{{> partials/hats resources.hats}}